body {
  font-family: 'Merriweather', serif;
}

.header {
  text-align: center;
}
.emphasis {
  font-style: italic;
}

#track-csharp {
  display: none;
}

#track-java {
  display: none;
}

#track-php {
  display: none;
}

#track-ruby {
  display: none;
}

#track-css {
  display: none;
}

#track-react {
  display: none;
}

img {
  float: left;
  padding: 1%;
  margin: 1%;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.1));
}

.jumbotron {
  margin: 1%;
  padding: 1%;
  background-color: lightblue;
}

button {
  margin-top: 5%;
  background-color: lightblue;
}

button:hover {
  background-color: blue;
}

#header-img {
  float: right;
  width: 55%;
}
